% -*- mode: erlang -*-
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,{sub_dirs}
	    ,{i, "deps/exmpp/include"}
	    ,{i, "../"}
            ,{i, "../include"}
            ,{i, "../../include"}
            ,{i, "../../../include"}
	    ,{i, "rel"}
	   ]}.

{require_otp_vsn, "R1[56]B"}.
{sub_dirs, ["rel"]}.

{ deps, [{lager, ".*",
         {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}},
         {occi, ".*",
         {git, "git://github.com/jeanparpaillon/erocci.git", "master"}}
        ]}.
