[
 {lager, 
  [
   {colored, true}
  ]},
 {erocci_core, 
  [
   {backends, 
    [
     %{ffmpeg, ims_backend_ffmpeg, [], <<"/">>}
     {mnesia, occi_backend_mnesia, 
      [{schemas, [{path, "priv/schemas/occi-transcode.xml"}]}],
      <<"/">>}
    ]
   },
   {acl, 
    [
     {allow, '_', '_', '_'}
    ]}
  ]}
].
